<launch>
  <node name="RVizMeshVisualizer" pkg="object_visualizer" type="object_visualizer.py" output="screen">
      <rosparam param="frame" subst_value="True">map</rosparam>
      <rosparam param="visualizer_path" subst_value="True">$(find lab_gazebo)/worlds/highbay_swarm_world/meshes</rosparam>
  </node>
  
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find object_visualizer)/launch/visualization.rviz" />
</launch>
